.carrossel{
    width: 1600px;
    height: 900px;
    overflow: hidden;
}

.carrossel .fotos{
    width: 2000%;
    animation: animacao 20s infinite;
}

.carrossel .fotos img{
    width: 5%;
}

@keyframes animacao{
    0%{margin-left: 0;}
    4.76%{margin-left: 0;}
    9.52%{margin-left: -100%;}
    14.28%{margin-left: -100%;}
    19.04%{margin-left: -200.5%;}
    23.8%{margin-left: -200.5%;}
    28.56%{margin-left: -301%;}
    33.32%{margin-left: -301%;}
    38.08%{margin-left: -401.3%;}
    42.84%{margin-left: -401.3%;}
    47.6%{margin-left: -501.6%;}
    52.36%{margin-left: -501.6%;}
    57.12%{margin-left: -601.9%;}
    61.88%{margin-left: -601.9%;}
    66.64%{margin-left: -702.2%;}
    71.4%{margin-left: -702.2%;}
    76.16%{margin-left: -802.5%;}
    80.92%{margin-left: -802.5%;}
    85.68%{margin-left: -902.8%;}
    95.44%{margin-left: -902.8%;}
    100%{margin-left: -1003.1%;}
}

