.carrossel{
    width: 900px;
    height: 600px;
    overflow: hidden;
}

.carrossel .fotos{
    width: 2000%;
    animation: animacao 20s infinite;
}

.carrossel .fotos img{
    width: 5%;
}

@keyframes animacao{
    0%{margin-left: 0;}
    4.76%{margin-left: 0;}
    9.52%{margin-left: -100%;}
    14.28%{margin-left: -100%;}
    19.04%{margin-left: -201%;}
    23.8%{margin-left: -201%;}
    28.56%{margin-left: -301.5%;}
    33.32%{margin-left: -301.5%;}
    38.08%{margin-left: -401.5%;}
    42.84%{margin-left: -401.5%;}
    47.6%{margin-left: -502%;}
    52.36%{margin-left: -502%;}
    57.12%{margin-left: -602.5%;}
    61.88%{margin-left: -602.5%;}
    66.64%{margin-left: -703%;}
    71.4%{margin-left: -703%;}
    76.16%{margin-left: -803.5%;}
    80.92%{margin-left: -803.5%;}
    85.68%{margin-left: -904%;}
    95.44%{margin-left: -904%;}
    100%{margin-left: -1004.5%;}
}

